.App {
  text-align: center;
  padding:0px;

}
 
div{
 /*border:1px solid black;*/
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

*{
 /* border:1px solid black;*/
}
 